@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
html, body, #root,  div[data-reactroot] {
  color:#555;
}

body
{
  text-align: center;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

#main-wrapper
{
  margin-top:20vh;
}

/*styles of sign in elements*/
#signInCard
{
  background: #f7f7f7;
  min-width: 15vw;
  max-width:300px;
  height: auto;
  margin:0 auto;
  border:1px solid #c6c6c6;
  border-radius: 2px;
}

#signInCard > .expand-button
{
  width: 100%;
  border:0;
  background: #fff;
  padding:2vh;
}

#expand-info
{
  background: #fff;
  padding:2vh;
  text-align:justify;
}

#gSignInWrapper
{
  position:relative;
  top:50%;
  margin:auto;
}


#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  color:#555;
  font-family: serif;
  font-weight: normal;
  font-size: medium;
}
span.icon {
  background: url('/res/icons/g-logo-small.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
/*end of sign in element styles*/

/*container for clients when user has 0 clients*/
h3.clList
{
  margin:0 auto;
  margin-top: 1vh;
}

/*container for clients*/
div.clList
{
  border:1px solid #dddddd;
  background-color: #FFF;
  border-radius: 3px;
  min-width: 20vw;
  max-width:600px;
  min-height: 450px;
  max-height: 450px;
  margin:0 auto;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clList > button
{
  border: none;
  border-radius: 0;
  flex:1 1 auto;
  font-size: large;
}

.clList select
{
  color: #000;
}

.modal.fade
{
  color: #000;
}

.clientContainer
{
  width:20vw;
  padding:2vh 0;
  flex-grow: 2.5;
}

.clientInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*name and dropdown menu are aligned to container borders*/
.clientInfo > div:first-child
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.fileContainerWrapper
{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.fileContainerWrapper > p
{
  text-align: left;
  margin-bottom: 3vh;
}

.fileContainerWrapper > p:first-of-type
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0;
}

/*for both p and ul fileContainers*/
.fileContainer
{
  border-top: 1px solid #dddddd;
}

p.fileContainer
{
  text-align: center;
}

ul.fileContainer
{
  flex: 1 1 auto;
  list-style-type:none;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.fileContainer::-webkit-scrollbar {
    display: none;
}



.singleFile
{
  margin-top:1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.singleFile > .fileIcon
{
  height:2em;
  width:2em;
  vertical-align:middle;
  flex-shrink: 3;
}

.singleFile > .fileStat
{
  flex-shrink: 3;
}

ul[id$="-directory-contents"]
{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-left: 2em;
}

div.dropdown
{
  display: inline-block;
}

.dropdown-toggle
{
  font-size: larger;
}

.navbar-fixed-top
{
  padding:0 1vw;
}

.navbar-fixed-bottom
{
  padding:0 1vw;
  background-color:#fff;
  border-color:#d8d8d8;
}
